<!-- 





<div class="container-fluid">
<div class="row">
    <div class="col-md-4 mt-5">
      <div class="card border-0 shadow p-3">
        <div class="form-floating mb-3">
         <h5 class="text-center text-warning">Add Item</h5>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="name" [(ngModel)]="name">
            <label for="floatingInput">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="description" [(ngModel)]="description" >
            <label for="floatingPassword">description</label>
          </div>
          <div class="form-floating mb-3">
      

              <input type="file"
                id="avatar" name="avatar"
                 accept="image/png, image/jpeg" [(ngModel)]="image">
   
           </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control" name="head" [(ngModel)]="head">
            <label for="floatingPassword">head</label>
          </div>
          <button type="button" class="btn btn-outline-sucess" style="background-color: black; color: aliceblue;" (click)="additem()">Add Item</button>
    </div>
  </div>
    <div class="col-md-8 mt-5">
      <h5 class="text-danger">Item List</h5>
      <div class="card p-3">
         <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Desc</th>
                <th scope="col">Image</th>
                <th scope="col">Heading</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of itemList">
                
                <td>{{i.name}}</td>
                <td>{{i.description}}</td>
                <td>{{i.image}}</td>
                <td>{{i.head}}</td>
            
                <td>
                  <button type="button" class="btn btn-outline-danger"style="background-color: red; color: aliceblue;" >Delete</button>
                </td>
              </tr>
             
            </tbody>
          </table>
         </div>
      </div>

    </div>
</div>
</div> -->
