<br><br><br>

<div class="content-wrapper">
  <br><br><br>
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Dashboard</a><br>
        <a href="adminlogin">Logout</a>
      </li>
      <li class="breadcrumb-item active">Welcome Admin</li>
    </ol>
    <!-- Icon Cards-->
    <div class="row">
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-comments"></i>
            </div>
            <div class="mr-5">26 New Messages!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-list"></i>
            </div>
            <div class="mr-5">11 New Tasks!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-shopping-cart"></i>
            </div>
            <div class="mr-5">123 New Orders!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-support"></i>
            </div>
            <div class="mr-5">13 New Enquiry!</div>
          </div>
          <a class="card-footer text-white clearfix small z-1" href="#">
            <span class="float-left">View Details</span>
            <span class="float-right">
              <i class="fa fa-angle-right"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

  <div id="into-jumbotron" class="p-5 text-center text-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center border-right">
          <a href="" class="text-reset">
            <h5 class="mb-0">Tech Max Solutions Dashboard</h5>
          </a>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 border-right">
          <span>Techmax is an ISO 9001-2015 accredited organization specializing in delivering standard and custom training programs in various areas of networking, software engineering . Techmax Solutions


          </span>
        </div>

        
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 border-right">
          <span>Enterprise Solutions
            Techmax Solutions provides complete IT solutions to all clients in the Kerala Government, educational, financial, banking, tele-communications, healthcare, transportation, manufacturing sectors</span>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 d-flex align-items-center justify-content-center">
          <a class="btn btn-outline-white btn-rounded" href="#!" role="button" data-mdb-ripple-color="light">Exmplore
            now</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->

<!--Main Navigation-->

          <!-- <div class="col-auto">
            <div class="bg-white border-radius-lg d-flex me-2">
              <input type="text" class="form-control border-0 ps-3" placeholder="Type here...">
              <button class="btn bg-gradient-primary my-1 me-1">Search</button>
            </div>
          </div>
          <button class="btn bg-gradient-primary my-1 me-1" (click)="logout">logout</button> -->

<br><br>
<div class="container text-center"><h3 style="color: gray;">UPCOMING WORKS</h3></div>
<br><hr>

 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>   -->
<!------ Include the above in your HEAD tag ---------->
<!-- 
	 -->
   <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<div class="container">
   
		<div class="row row-striped">
			<div class="col-2 text-right">
        <hr>
				<h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
				<h2>OCT</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Cherthala InfoPark</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
				</ul>
				<p>The purpose of networking works is to provide a structured and creative environment for professionals to exchange qualified business referrals among themselves.

        </p>
			</div>
		</div>
		<div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
				<h2>OCT</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Technopark Tvm</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Room 4019</li>
				</ul>
				<p>The purpose of networking works is to provide a structured and creative environment for professionals to exchange qualified business referrals among themselves.

          .</p>
			</div>
		</div>
	</div>
	

<br><br><br>
<h4 class="container text-center">EMPLOYEES DETAILS</h4>
<div class="container">
  <div class="row row--top-40">
    <div class="col-md-12">
      <h2 class="row__title">Employees (7)</h2>
    </div>
  </div>
  <div class="row row--top-20">
    <div class="col-md-12">
      <div class="table-container">
        <table class="table">
          <thead class="table__thead">
            <tr>
              <th class="table__th"><input id="selectAll" type="checkbox" class="table__select-row"></th>
              <th class="table__th">Name</th>
              <th class="table__th">Salary</th>
              <th class="table__th">Job Type</th>
              <th class="table__th">Destination</th>
              <th class="table__th">Number</th>
              <th class="table__th">Emp ID</th>
              <th class="table__th"></th>
            </tr>
          </thead>
          <tbody class="table__tbody">
            <tr class="table-row table-row--chris">
              <td class="table-row__td">
                <input id="" type="checkbox" class="table__select-row">
              </td>
              <td class="table-row__td">
                <div class="table-row__img"></div>
                <div class="table-row__info">
                  <p class="table-row__name">Ajin Jayan</p>
                  <span class="table-row__small">CFO</span>
                </div>
              </td>
              <td data-column="Policy" class="table-row__td">
                <div class="">
                  <p class="table-row__policy">$5,000</p>
                  <span class="table-row__small">Basic Policy</span>
                </div>                
              </td>
              <td data-column="Policy status" class="table-row__td">
                <p class="table-row__p-status status--green status">Offline</p>
              </td>
              <td data-column="Destination" class="table-row__td">
                Kochi India
              </td>
              <td data-column="Destination" class="table-row__td">
               9783773383
              </td>
              <td data-column="Progress" class="table-row__td">
                <p class="table-row__progress status--blue status">GB676</p>
              </td>
              <!-- </td> -->

            </tr>
            
            <tr class="table-row table-row--angie">
              <td class="table-row__td">
                <input id="" type="checkbox" class="table__select-row">
              </td>
              <td class="table-row__td">
                <div class="table-row__img"></div>
                <div class="table-row__info">
                  <p class="table-row__name">Ajimiya</p>
                  <span class="table-row__small">Vp of Sales</span>
                </div>
              </td>
              <td data-column="Policy" class="table-row__td">
                <div class="">
                  <p class="table-row__policy">$20,000</p>
                  <span class="table-row__small">All Inclusive Policy</span>
                </div>                
              </td>
              <td data-column="Policy Status" class="table-row__td">
                <p class="table-row__p-status status--green status">Offline</p>
              </td>
              <td data-column="Destination" class="table-row__td">
                Kochi India
              </td>
              <td data-column="Destination" class="table-row__td">
               9783773383
              </td>
              <td data-column="pregress" class="table-row__td">
                <p class="table-row__progress status--blue status">D987</p>
              </td>
 
            </tr>
            
            <tr class="table-row table-row--ronald">
              <td class="table-row__td">
                <input id="" type="checkbox" class="table__select-row">
              </td>
              <td class="table-row__td">
                <div class="table-row__img"></div>
                <div class="table-row__info">
                  <p class="table-row__name">Rony </p>
                  <span class="table-row__small">Advisory board</span>
                </div>
              </td>
              <td class="table-row__td">
                <div data-column="Policy" class="">
                  <p class="table-row__policy">$5,000</p>
                  <span class="table-row__small">Basic Policy</span>
                </div>                
              </td>
              <td data-column="Policy status" class="table-row__td">
                <p class="table-row__p-status status--green status">Offline</p>
              </td>
              <td data-column="Destination" class="table-row__td">
                Kochi India
              </td>
              <td data-column="Destination" class="table-row__td">
               9783773383
              </td>
              <td data-column="pregress" class="table-row__td">
                <p class="table-row__progress status--blue status">SD987</p>
              </td>
             
            </tr>
            
            <tr class="table-row table-row--june table-row--red">
              <td class="table-row__td">
                <div class="table-row--overdue"></div>
                <input id="" type="checkbox" class="table__select-row">
              </td>
              <td class="table-row__td">
                <div class="table-row__img"></div>
                <div class="table-row__info">
                  <p class="table-row__name">Jerrin</p>
                  <span class="table-row__small">Social content manager</span>
                </div>
              </td>
              <td data-column="Policy" class="table-row__td">
                <div class="">
                  <p class="table-row__policy">$5,000</p>
                  <span class="table-row__small">Basic Policy</span>
                </div>                
              </td>
              <td data-column="Policy status" class="table-row__td">
                <p class="table-row__p-status status--blue status">Offline</p>
              </td>
              <td data-column="Destination" class="table-row__td">
                Kochi India
              </td>
              <td data-column="Destination" class="table-row__td">
               9783773383
              </td>
              <td data-column="progress" class="table-row__td">
                <p class="table-row__progress status status--blue">QW227</p>
              </td>

            </tr>
            
            <tr class="table-row table-row--ben">
              <td class="table-row__td">
                <input id="" type="checkbox" class="table__select-row">
              </td>
              <td class="table-row__td">
                <div class="table-row__img"></div>
                <div class="table-row__info">
                  <p class="table-row__name">Sarath</p>
                  <span class="table-row__small">Account manager</span>
                </div>
              </td>
              <td data-column="Policy" class="table-row__td">
                <div class="">
                  <p class="table-row__policy">$25,000</p>
                  <span class="table-row__small">Basic Policy</span>
                </div>                
              </td>
              <td data-column="Policy status" class="table-row__td">
                <p class="table-row__p-status status--green status">Offline</p>
              </td>
              <td data-column="Destination" class="table-row__td">
                Kochi India
              </td>
              <td data-column="Destination" class="table-row__td">
               9783773383
              </td>
              <td data-column="progress" class="table-row__td">
                <p class="table-row__progress status--blue status">LP880</p>
              </td>

            </tr>
            
            <tr class="table-row table-row--red table-row--natalie ">
              <td class="table-row__td">
                <div class="table-row--overdue"></div>
                <input id="" type="checkbox" class="table__select-row">
              </td>
              <td class="table-row__td">
                <div class="table-row__img"></div>
                <div class="table-row__info">
                  <p class="table-row__name">Amal</p>
                  <span class="table-row__small">Social content manager</span>
                </div>
              </td>
              <td class="table-row__td">
                <div class="">
                  <p class="table-row__policy">$30,000</p>
                  <span class="table-row__small">All Inclusive Policy</span>
                </div>                
              </td>
              <td class="table-row__td">
                <p class="table-row__p-status status--green status">Offline</p>
              </td>
              <td data-column="Destination" class="table-row__td">
                Kochi India
              </td>
              <td data-column="Destination" class="table-row__td">
               9783773383
              </td>
              <td class="table-row__td">
                <p class="table-row__progress status--blue status">CV678</p>
              </td>

            </tr>
            
                        
            <tr class="table-row table-row--thomas">
              <td class="table-row__td">
                <input id="" type="checkbox" class="table__select-row">
              </td>
              <td class="table-row__td">
                <div class="table-row__img"></div>
                <div class="table-row__info">
                  <p class="table-row__name">Sandeep </p>
                  <span class="table-row__small">CEO</span>
                </div>
              </td>
              <td class="table-row__td">
                <div class="">
                  <p class="table-row__policy">$45,000</p>
                  <span class="table-row__small">All Inclusive Policy</span>
                </div>                
              </td>
              <td class="table-row__td">
                <p class="table-row__p-status status--red status">Leave</p>
              </td>
              <td data-column="Destination" class="table-row__td">
                Kochi India
              </td>
              <td data-column="Destination" class="table-row__td">
               9783773383
              </td>
              <td class="table-row__td">
                <p class="table-row__progress status--blue status">AF124</p>
              </td>

            </tr>
            
            
 
          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
<div class="col-auto">
  <div class="bg-white border-radius-lg d-flex me-2">
    <!-- <input type="text" class="form-control border-0 ps-3" placeholder="Type here..."> -->
    <!-- <button class="btn bg-gradient-primary my-1 me-1">Search</button> -->
  </div>
</div>
<!-- <button class="btn bg-gradient-primary my-1 me-1" (click)="logout()">logout</button> -->

<h1 class="text-center pb-5 mt-3">Booking Details</h1>

<div class="container mt-3 pt-5"style="overflow-x:auto;">
<table class="table table-dark">
<thead>
<tr>
<th scope="col">No.</th>
<th scope="col">Name</th>
<th scope="col">Company</th>
<th scope="col">Phone No</th>
<th scope="col">Email</th>
<th scope="col">City</th>
<th scope="col">Product</th>
<!-- <th scope="col"></th> -->


<!-- <th scope="col">Delete</th> -->
<!-- <th scope="col">Accept</th> -->
</tr>
</thead>
<tbody>
<tr *ngFor="let j of detail">
<th scope="row">1</th>
<td>{{j.Name}}</td>
<td>{{j.company}}</td>
<td>{{j.Phone}}</td>
<td>{{j.Email}}</td>
<td>{{j.city}}</td>
<td>{{j.product}}</td>
<!-- <td>{{i.Message}}</td> -->


<!-- <td><i class="bi bi-trash3-fill text-danger" (click)="delete(j.doc_id)">Delete</i></td> -->
<!-- <td><i class="bi bi-check-circle-fill text-success"></i></td> -->
</tr>

</tbody>
</table>

</div>







<div class="container mt-3 pt-5"style="overflow-x:auto;">
  <h1 class="text-center pb-2 mt-1">Carrer Enquirys</h1>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone No</th>
        <th scope="col">Qualification</th>
   
        <th scope="col">Confirmation</th>
        <!-- <th scope="col">Accept</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of details">
        <th scope="row">1</th>
        <td>{{i.Name}}</td>
        <td>{{i.Email}}</td>
        <td>{{i.Phone}}</td>
        <td>{{i.Qualification}}</td>
        
     
        <td><i class="bi bi-trash3-fill text-danger" (click)="delete(i.doc_id)">Delete</i></td>
        
        
        <!-- <td><i class="bi bi-check-circle-fill text-success"></i></td> -->
      </tr>
     
    </tbody>
  </table>

</div>



</div><br><br><hr><br>
<div class="widget-content-center fsize-7">
    <div class="text-center opacity-3">Income Target</div>
</div>
</div>

<div class="col-md-18 col-lg-15">
<div class="card-shadow-success mb-3 widget-chart widget-chart2 text-left card">
<div class="widget-content">
<div class="widget-content-outer">
<div class="widget-content-wrapper">
    <div class="widget-content-left pr-2 fsize-1">
        <div class="widget-numbers mt-0 fsize-3 text-success">54%</div>
    </div>
    <div class="widget-content-right w-100">
        <div class="progress-bar-xs progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%;"></div>
        </div>
    </div>
</div>
<div class="widget-content-left fsize-1">
    <div class="text-muted opacity-6">Expenses Target</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-18 col-lg-15">
<div class="card-shadow-warning mb-3 widget-chart widget-chart2 text-left card">
<div class="widget-content">
<div class="widget-content-outer">
<div class="widget-content-wrapper">
    <div class="widget-content-left pr-2 fsize-1">
        <div class="widget-numbers mt-0 fsize-3 text-warning">32%</div>
    </div>
    <div class="widget-content-right w-100">
        <div class="progress-bar-xs progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%;"></div>
        </div>
    </div>
</div>
<div class="widget-content-left fsize-1">
    <div class="text-muted opacity-6">Spendings Target</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-18 col-lg-15">
<div class="card-shadow-info mb-3 widget-chart widget-chart2 text-left card">
<div class="widget-content">
<div class="widget-content-outer">
<div class="widget-content-wrapper">
    <div class="widget-content-left pr-2 fsize-1">
        <div class="widget-numbers mt-0 fsize-3 text-info">89%</div>
    </div>
    <div class="widget-content-right w-100">
        <div class="progress-bar-xs progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
        </div>
    </div>
</div>
<div class="widget-content-left fsize-1">
    <div class="text-muted opacity-6">Totals Target</div>
</div>
</div>
</div>
</div>
</div>
