

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>techmaX.com</title>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./homepage.component.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


    
<body class="bdy">
    <div class="container" class="crsl">
        <div id="carouselExampleCaptions" class="carousel slide"  data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="1000">
                <img src="assets\images\nettech3.jpg" class="d-block w-100" alt="..." height="760" width="150">
                <div class="carousel-caption" >
                    <div class="content">
                    <h2  style="color: #0b0909; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;"><span style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(53, 151, 248);">No.1 </span><br>It Service Providers<br>In South India.</h2>
                   
                    
                    <p class="par" style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black;"> Techmax Solutions is an IT service organization offering world-class<br>networking  and IT development services to domestic and global clients</p>
                    <button class="cn" href="servicepage">Service</button>

                </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="assets\images\nettech1.jpg" class="d-block w-100" alt="..." height="760" width="150">
                <div class="carousel-caption">
                   
                  <div class="content">
                    <h2  style="color: #0b0909; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;"><span style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(53, 151, 248);">Surveillance</span><br> Solutions</h2>
                   
                    
                    <p class="par" style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: black;"> Techmax Solutions is an IT service organization offering world-class<br>networking  and IT development services to domestic and global clients</p>
                    <button class="cn"> Services</button>

                </div>
                
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="1000">
                <img src="assets\images\nettech2.jpg" class="d-block w-100" alt="..." height="760" width="150">
                <div class="carousel-caption ">
                  <div class="content">
                    <h2  style="color: #0b0909; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;"><span style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: rgb(53, 151, 248);"> Build ever-ready</span>
                     
                     <br> IT Infrastructure.</h2>
                   
                    
                    <p class="par" style=" font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: black;"> Techmax Solutions is an IT service organization offering world-class<br>networking  and IT development services to domestic and global clients</p>
                    <button class="cn"routerLink="signin" >Services</button>

                </div>
                </div>
              </div>
              <!-- <div class="carousel-item" data-bs-interval="1000">
                <img src="assets\images\nettech5.jpg" class="d-block w-100" alt="..." height="500" width="150">
                <div class="carousel-caption d-none d-md-block">
                    <h2  style="color: #2c74da; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;">No.1</h2>
                    <h2 style="color: black; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;"> IT Service Providers</h2>
                    <h2  style="color: rgb(8, 8, 14); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;" >Some representative placeholder content for the first slide.</h2>
                
                </div>
              </div> -->
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>    
    </div>
    
    <!-- <div class="wrapper">
        <input type="text" class="input" placeholder="What are you looking for?">
        <div class="searchbtn"><i class="fas fa-search"></i></div>
    </div>
    
       <div>
        <img src="../../../assets/images/2.jpg" height="600px" width="1690px">
        <br>
        </div> -->
    
  
    <div class="about">
      <img src="../../../assets/images/welcome.jpg" class="pic" >
      <div class="text">
        
        <h2 class="b">Welcome to </h2>
        <h2 style="color: #4d70c4" class="net">Techmax Solutions</h2>
          <p class="b">Techmax Solutions is a trusted IT Infra solution and rental provider. We understand your needs, identify high quality, affordable IT solutions in hardware, software, services, mobility, analytics and cloud. A devoted group of experts engaged in diverse technological sector is our strength

            Founded in 2007, it has emerged as a leading IT infrastructure development and solution provider in the last two decades. Now we became leading IT solution and IT Rental provider in south India with Ten branches. </p>
              <div class="data">
        <a href="aboutpage" class="hire"> Know More </a>
        </div>
      </div>
    </div>
    <br><br><br>

<div></div>
   <div class="container">
    <h2 style="font-family: Arial, Helvetica, sans-serif" class=""><b>Enterprise Solutions</b></h2>
    <br>
    <pre><h5>Techmax Solutions provides complete IT solutions to all clients in the Kerala Government, educational, financial, banking,
        tele-communications, healthcare, transportation, manufacturing sectors</h5></pre>.
        <div class="row">
            
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/images/enterprise1.png" alt="card image"></p>
                                    <h4 class="card-title">NETWORKING IT INFRASTRUCTURE</h4>
                                    <p class="card-title">techmax has a track record for creating local and remote network (LAN/WAN) services for businesses of all sizes..</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">NETWORKING IT INFRASTRUCTURE</h4>
                                    <p class="card-title">techmax has a track record for creating local and remote network (LAN/WAN) services for businesses of all sizes. We offer the best potential networking implementation know-how, from corporate network models </p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             
             <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/images/enterprise2.png" alt="card image"></p>
                                    <h4 class="card-title">SURVEILLANCE SOLUTION</h4>
                                    <p class="card-title">techmax Services offer advanced security and surveillance, efficient, reliable, scalable, and integrated..</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">SURVEILLANCE SOLUTION</h4>
                                    <p class="card-title">techmax has a track record for creating local and remote network (LAN/WAN) services for businesses of all sizes. We offer the best potential networking implementation know-how, from corporate network models to data cabling </p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="../../../assets/images/enterprise3.png" alt="card image"></p>
                                    <h4 class="card-title">AMC SERVICES</h4>
                                    <p class="card-title">Techmax provides AMC  services for firewall, Networking devices, EPABX, desktop, laptop, servers and CCTV..</p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">AMC SERVICE</h4>
                                    <p class="card-title">Techmax has a track record for creating local and remote network (LAN/WAN) services for businesses of all sizes. We offer the best potential networking implementation know-how, from corporate network models to data cabling and PC setup to server and router configurations. .</p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

  
  <div class="container">
    
        <div class="about">
          <img src="../../../assets/images/whyus.webp" class="pic" >
          <div class="text">
            
            <h2 class="b">Why Us ?</h2>
              <p class="b">It is vital to employ highly reliable, state-of-the-art equipment backed by expert service to present a professional image to your clients. Often, additional resources and expertise are required to stage such events and this is a service that we can provide. . </p>
                  
          </div>
        </div>
     <br><br><br>
  </div>
  <br><br><br>


  <img src="assets\images\ourexp.png" width="1590">

  


  <div class="container">
    <br>
    <h2 class="b"> <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Our Clients</b></h2><br>
    <p class="f">We enjoy adapting our strategies to offer every client the best solutions that are at the forefront of the industry.

    </p><br><hr>
    <div class="row ">
        <div class="col-md-3"> 
          <img src="../../../assets/images/client5.jpg">
        </div>
        <div class="col-md-3"> 
            <img src="../../../assets/images/client6.jpg">
          </div>
          <div class="col-md-3"> 
            <img src="../../../assets/images/client7.jpg">
          </div>
          <div class="col-md-3"> 
            <img src="../../../assets/images/client8.jpg">
          </div>
         
    

    </div>
    <br><hr>
</div> 
 
    <br>
    <section id="heade" class="jumbotron text-center">
      <h4 class="display-3" style="color: rgb(111, 126, 137);font-family: 'Times New Roman', Times, serif; font-size: x-large;">What Client Says .?</h4>
      <p class="lead">our mission is to be an exceptional technology advisory firm, empowering our clients to focus on their business. We provide the guidance they need to meet their goals</p><br>
      <a href="" class="btn btn-primary">View More</a>

  
  <section id="gallery">
   <div class="container">
     <div class="row">
     <div class="col-lg-4 mb-4">
     <div class="card">
      
       <div class="card-body">
          <h6 style="color: rgb(207, 246, 14);">Reviews</h6>
          <p  style="color:rgb(236, 229, 6); font-size: small;">Feburary 28,2023</p>
         <h5 class="card-title">Ashish | ComputerLabs</h5>
         <p  style="color: gray;" class="card-text">IT Rental has been our IT hardware support and supplies partner since our inception. We are extremely satisfied with their services  IT Rental staff has professional and they understand our problems quickly and resolve them."

          .</p>
        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
         <!-- <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a> -->
       </div>
      </div>
     </div>
   <div class="col-lg-4 mb-4">
   <div class="card">
       
       <div class="card-body">
          <h6 style="color: rgb(207, 246, 14);">Review</h6>
          <p  style="color:grey; font-size: small;">March 08,2023</p>
         <h5 class="card-title">Amulya | infox Systems</h5>
         <p  style="color: gray;"class="card-text">I have called the help desk just three to four times over the past two years. Every time, my problem has been resolved within a few minutes, the tech is very personable and friendly, and it's left me with this thought</p>
        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
         <!-- <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a> -->
       </div>
       </div>
     </div>
     <div class="col-lg-4 mb-4">
     <div class="card">
   
       <div class="card-body">
          <h6 style="color: rgb(207, 246, 14);">Review</h6>
          <p  style="color:grey; font-size: small;">March 08,2023</p>
         <h5 class="card-title">John | Zion It Park</h5>
         <p style="color: gray;"class="card-text"> 
          They are on top of their game, go above and beyond, and leave no stone un-turned when dealing with our many issues. We are a 100% satisfied customer of theirs.Thank you stratosphere for your continued tireless efforts .</p>

       
        <a href="" class="btn btn-outline-success btn-sm">Read More</a>
         <!-- <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a> -->
       </div>
      </div>
     </div>
   </div>
  </div>
  </section>
  <hr>
  <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold  ;color: rgb(13, 120, 236);">Get in touch with Us</h2> <p style="color: red;"> Send us Enquiry email</p>
  </section> 
    <div class="container text-center">
  
		<div class="row" >                      
			<div class="col-md-4">
				<p class="logo"><br><span>Techmax Solutions</span></p>
				<div class=""><img src="../../../assets/images/enquiry.jpg" height="400px" width="600px"/></div>
				<h6 class="mt-3 text-center">Your quotes are ready!</h6>
				<p>No need to answer anymore questions, your refreshed quotes are waiting for you!</p>
			</div>
			<div class="col-md-8">
				<div class="d-flex pt-3 pr-2">
					<p class="ml-auto mb-0">want to speak with an agent?</p>
				</div>	
				<div class="d-flex pr-2">
					<p class="ml-auto"><strong><i class="fas fa-phone-volume"></i>9400374720</strong></p>
				</div>	
				 <form #f="ngForm" (ngSubmit)="addData(f)">
					<h4 class="form-heading">Let's get back to your quotes!</h4>
					<p class="form-para">
						Make sure to use the same information you used during your earlier visit,this is how we keep your information secure.
					</p>
					<div class="form-group">
             <input type="email" class="form-control" name="email" ngModel>
             <label class="form-control-placeholder" for="email">Email address</label>
             </div>
					

					 <div class="form-group">
             <input type="text" class="form-control"  name="name"  ngModel>
             <label class="form-control-placeholder" for="name">First name</label>
             </div>

					 <div class="form-group"> 
            <input type="number" class="form-control" name="number"  ngModel>
            <label class="form-control-placeholder" for="number">Phone no</label>
           </div>

					 <div class="form-group"> 
            <input type="number" class="form-control" name="code"  ngModel>
            <label class="form-control-placeholder" for="number">Zip code</label>
           </div>

					 <div class="form-group mt-3">
            
              <button class="btn btn-default" type="submit" name="button"  (click)="submit()">
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
            </button>
            </div>

					 <p class="terms mt-4">By clicking "Return to my quotes", you consent to the Zebra storing the information submitted on this page so you can get most up-to-date quotes, no matter what device you are using. You also agree to The Zebra's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a></p>
				</form> 
        
       
      <div class="row" >
        
       
    




        </div>

			</div>
		</div>
	</div>
  </div> 

 </div>

 <div class="wats-fixed-button1" style="user-select: auto;">
    <a class="button" href="https://api.whatsapp.com/send?phone=919400374720" target="_blank" style="user-select: auto;">
    <img src="assets\images\watsapp.png" alt="whatsapp" style="user-select: auto;">
    </a>
    </div>
    

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251482.70982212533!2d76.16084706552728!3d9.982342763304219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1678204697499!5m2!1sen!2sin" width="1520" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 

  
</body>
</html>



