

    
    <header class="hd">
        <input type ="checkbox" name ="" id ="chk1">
        <div class="logo"> <img src="assets\images\logo-black.png" style="margin-bottom: 10px;"></div>
      
         
             <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="aboutpage">About</a></li>
                <li><a routerLink="servicepage">Services</a></li>
                <li><a routerLink="training">Training</a></li>
                <li><a routerLink="contactpage">Contact</a></li>
            
                <li><button class="cn"routerLink="login"  >Login</button></li>
                <li><button class="cn"routerLink="register" >Sign Up</button></li>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    
                </li>
            </ul>
            <div class="menu">
                <label for="chk1">
                    <i class="fa fa-bars"></i>
                </label>
            </div>
    </header>
    



