
<br>

  <div class="darkened-image"><img src="http://networkzsystems.com/aboutus_banner.263f555e87513846.png"  style="width:100%;"></div>
  <br>
  <div class="centered" style="color: rgb(81, 77, 77); font-family: 'Times New Roman', Times, serif; text-align: center; font-weight: bold;"><h1><b>Welcome to TechMax</b></h1></div>
  <div class=" text-center">
    <br>
    <h4>Let's Shift your Learning to Another Level</h4>
    <hr>
    <br>
    

  </div>
<br>
<hr>


<section class="about-wrap1 motion-effects-wrap">
  <div class="shape-img1">

  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="about-box1 wow fadeInLeft" data-wow-delay=".3s">
                  <div class="">
                      <div class="motion-effects1">
                          <img src="./../../assets/images/about1.jpg" alt="shape" width="550" height="250">
                      </div>
                      
                  </div>
                                             
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-box2 wow fadeInRight" data-wow-delay=".5s">
                  <div class="item-heading-left mb-bottom">
                      <span class="section-subtitle" ><b></b></span>
                      <h2 class="b" style="color: rgb(40, 89, 237)"><b>We have 15 years of trusted IT solution and service experience</b></h2>
                      <!-- <div class="bg-title-wrap" style="display: block;">
                          <span class="background-title solid">Who we are</span>
                      </div> -->
                  </div><br>
                  <p>Techmax Solutions is a trusted IT Infra solution and rental provider. We understand your needs, identify high quality, affordable IT solutions in hardware, software, services, mobility, analytics and cloud. A devoted group of experts engaged in diverse technological sector is our strength

                    Founded in 2007, it has emerged as a leading IT infrastructure development and solution provider in the last two decades. Now we became leading IT solution and IT Rental provider in south India with Ten branches.. </p>
                 
                 
                  
<!-- 
                  <div class="about-box-10">
                     <div class="banner-button about-button-2">
                      <a href="" class="banner-btn-info">View M</a>
                  </div>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</section>




<br><br><br>

  <div class="abt2">
    
    <img  src="../../../assets/images/abt2.png" height="200px" width="100%">
  </div>
  <br><br><br>
  <h1 class="text-center">Our Branches <img src="assets\images\blue-map.png" height="20px"></h1>
            <hr>
            <!-- <div class="container "> -->
              <div class="row"> 
                <div class=" col-md-16" *ngFor=" let item of contact" style="padding: 10px;">
                       <!-- <div class="card" style="width: 18rem;">
                        
                                
                                <div class="card-body">
                                    <h5 class="card-title">{{item.name}}</h5>
                                    <p class="card.text">{{item.desc}}</p> 
                                   
                                </div>
                            </div> -->

                            <div class="card text-white text-center bg-dark pb-6 " style="height: 240px;">
                              <div class="card-body">
                                  
                                <i class="bi bi-geo-alt"></i>
                                  <h5 class="card-title">{{item.name}}</h5>
                                  <p class="card.text">{{item.desc}}</p> 
                                  <!-- <button class="btn bg-primary text-dark">Read More</button> -->
                              </div>
                          </div>
                </div>
                </div>
            <!-- </div> -->
  
  <hr>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251482.70982212533!2d76.16084706552728!3d9.982342763304219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1678204697499!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

