
<br>
<div class="about">
    <img src="../../../assets/images/about1.jpg" class="pic" >
    <div class="text">
        <br><br><br>
      
      <h2 class="b">We have 15 years of trusted IT solution and service experience</h2>
        <p class="b">Nettech Solutions is a trusted IT Infra solution and rental provider. We understand your needs, identify high quality, affordable IT solutions in hardware, software, services, mobility, analytics and cloud. A devoted group of experts engaged in diverse technological sector is our strength

            Founded in 2007, it has emerged as a leading IT infrastructure development and solution provider in the last two decades. Now we became leading IT solution and IT Rental provider in south India with Ten branches.. </p>
         
    </div>
    <br><br><br>
  </div>
<br><br><br>

  <div class="abt2">
    
    <img  src="../../../assets/images/abt2.png" height="200px" width="1200px">
  </div>
  <br><br><br>
  <h1 class="text-center">Our Branches <img src="assets\images\blue-map.png" height="36px"></h1>
            <hr>
  <div class="row"> 
    <div class="col m-3" *ngFor=" let item of contact">
           <div class="card" style="width: 18rem;">
            
                    
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card.text">{{item.desc}}</p> 
                       
                    </div>
                </div>
    </div>
    </div>
  <hr>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d251482.70982212533!2d76.16084706552728!3d9.982342763304219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1678204697499!5m2!1sen!2sin" width="1520" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

