<!-- <br>
<div class="container">
    <div class="row">
        <div class="col-6 p-5 m-5 border border-2 rounded border-dark">
            <form [formGroup]= "addForm">
                <h3 class="text-center">Edit Form</h3>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Name"aria-describedby="emailHelp">
                
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1"formControlName="Email" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">phone</label>
                  <input type="text" class="form-control" id="exampleInputPassword1"formControlName="Phone">
                  
                </div>
              

                <div class="mb-3">
                    <label>
                        <span>Qualification <span class="required">*</span></span>
                        <select name="selection" formControlName="Qualification">
                          <option value="select">Choose...</option>
                          <option value="BCA">BCA</option>
                          <option value="MCA">MCA</option>
                          <option value="BSC">BSC</option>
                          <option value="CCNA">CCNA</option>
                          <option value="CCNP">MCSA</option>
                        
                        </select>
                      </label>
                </div>

               

                <button type="submit" class="btn btn-dark" (click)="update()" >Submit</button>
              </form>
        </div>
       
    </div>
   
</div>
 -->
