


<div class="container1">
    <div class="darkened-image"><img src="http://networkzsystems.com/aboutus_banner.263f555e87513846.png"  style="width:100%"></div>
    
    <div class="centered" style="color: rgb(252, 248, 248); font-family: 'Times New Roman', Times, serif;"><h1>Carrers</h1></div>
  </div>


<br><hr>
<h2 class="text-center" style="color: gray;">Job Vaccancies</h2>

  <div class="container">
    <div class="row mb-4">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5>Business Management</h5>
                    <p class="mb-0 text-muted">124 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5>UI Designer</h5>
                    <p class="mb-0 text-muted">6 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5>Software Engineer</h5>
                    <p class="mb-0 text-muted">5 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5>Sales &amp; Marketing</h5>
                    <p class="mb-0 text-muted">8 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5>Data Science</h5>
                    <p class="mb-0 text-muted">14 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card hover-lift hover-shadow-xl shadow-sm border-0">
                <!--card-body-->
                <div class="card-body p-4">
                    <div class="d-flex mb-4 align-items-center">

                        <!--Companies group-->
                        <div class="flex-grow-1 d-flex align-items-center">
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid" alt="">
                            </div>
                            <!--Campany-->
                            <div class="width-5x height-5x p-2 ms-n3 bg-white shadow-sm position-relative flex-center rounded-circle border">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5>Content Creator</h5>
                    <p class="mb-0 text-muted">7 Jobs opportunities</p>
                </div>
                <!--link-->
                <a href="#!" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>


<br><hr>
<h2 class="text-center" style="color: gray;">Apply Now</h2>

  
<div class="container text-center">
    <div class="row">
        <div class="col-11 p-5 m-5 border border-2 rounded border-dark">
            <form [formGroup]= "AddForm">
                <h3 class="text-center">Fill Out Form</h3>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" formControlName="Name"aria-describedby="emailHelp">
                
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1"formControlName="Email" aria-describedby="emailHelp">
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">phone</label>
                  <input type="text" class="form-control" id="exampleInputPassword1"formControlName="Phone">
                  
                </div>
              

                <div class="mb-3">
                    <label>
                        <span>Qualification <span class="required">*</span></span>
                        <select name="selection" formControlName="Qualification">
                          <option value="select">Choose...</option>
                          <option value="BCA">BCA</option>
                          <option value="MCA">MCA</option>
                          <option value="BSC">BSC</option>
                          <option value="CCNA">CCNA</option>
                          <option value="CCNP">MCSA</option>
                        
                        </select>
                      </label>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Upload CV</label>
                  <br>
                  <input type="file" id="myFile" name="filename" formControlName="Upload">
                </div>

                <button type="submit" class="btn btn-dark" (click)="add()" >Submit</button>
              </form>
        </div>
       
    </div>
   
</div>

