
<br><br><br><br>
<div class="container">
    <div class="title">
        <h2>Booking Form</h2>
    </div>
  <div class="d-flex">
    <form [formGroup]= "ThisForm">
      <label>
        <span class="fname"> Name <span class="required">*</span></span>
        <input type="text"  formControlName="Name">
      </label>
      <!-- <label>
        <span class="lname">Last Name <span class="required">*</span></span>
        <input type="text" name="lname">
      </label> -->
      <label>
        <span>Company Name (Optional)</span>
        <input type="text" formControlName="company">
      </label>
      <!-- <label>
        <span>Product <span class="required">*</span></span>
        <select name="selection" formControlName="product">
          <option value="select">Select a product...</option>
          <option value="AFG">Laptop</option>
          <option value="ALA">Desktop</option>
          <option value="ALB">Server</option>
          <option value="DZA">Phone</option>
          <option value="ASM">Printer</option>
        
        </select>
      </label> -->
      <label>
        <span>Product <span class="required">*</span></span>
        <input type="text" formControlName="product"> 
      </label>
      <label>
        <span>Street Address <span class="required">*</span></span>
        <input type="text" name="houseadd" placeholder="House number and street name" required>
      </label>
      <label>
        <span>&nbsp;</span>
        <input type="text" name="apartment" placeholder="Apartment, suite, unit etc. (optional)">
      </label>
      <label>
        <span>Town / City <span class="required">*</span></span>
        <input type="text" formControlName="city"> 
      </label>

      <label>
        <span>Postcode / ZIP <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>Phone <span class="required">*</span></span>
        <input type="tel"formControlName="Phone"> 
      </label>
      <label>
        <span>Email Address <span class="required">*</span></span>
        <input type="email" formControlName="Email"> 
      </label>
    </form>
    <div class="Yorder">
      <table>
        <tr>
          <th colspan="2">www.techmax.com</th>
        </tr>
        <tr>
          <td>techmax Solutions</td>
          <td>KERALA | PUNE | BANGALORE | CHENNAI</td>
        </tr>
        
        <tr>
          <td>Shipping</td>
          <td>Free shipping</td>
        </tr>
      </table><br>
      <div>
        <input type="radio" name="dbt" value="dbt" checked> Direct Bank Transfer
      </div>
      <p>
          Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
      </p>
      <div>
        <input type="radio" name="dbt" value="cd"> Cash on Delivery
      </div>
     
      <button class="btn card_btn" style="background-color: green;"  class="hire" (click)="addp()">Confirm Booking</button>
     
    </div>
   </div>
  </div>

