
<br><br>
<br><br><br>
<h1  style="text-align: center; color: gray; font-weight: bold; font-family: Arial, Helvetica, sans-serif " >Our Training</h1>
<p style="text-align: center;  color: gray;">Due to the evolving nature of technology, IT training content is constantly updated and adapted to reflect the current market. IT courses reside in a wide variety of curriculum areas including, but not limited to those listed below.</p>
<hr>
<div class="container p-5" >
   
    
<div class="row"> 
<div class="col m-2" *ngFor=" let i of training">
       <div class="card" style= " margin-right: 20px;" width="200px">
        
        <img  style="background-color: rgb(57, 57, 199);"class="card-img-top" src="assets\images\{{i.img}}" alt="Card image cap" height="130px" width="100px">
                <div class="card-body">
                    <p  style="color: rgb(60, 60, 186);"class="card-title">{{i.heading}}</p>
                    <h5 class="card-title">{{i.desc}}</h5>
                    <hr>
                    <h6 class="card-title">{{i.course1}}</h6>
                    <hr>
                    <h6 class="card-title">{{i.course2}}</h6>
                    <hr>
                    <h6 class="card-title">{{i.course3}}</h6>
                    <hr>
                    <h6 class="card-title">{{i.course4}}</h6>
                    <hr>
                    <h6 class="card-title">{{i.course5}}</h6>
                    <hr>
                    <a  class="btn btn-primary" href="contactpage">  Contact Us</a>
                    
                    <p></p>
                    
                   
                </div>
            </div>
            
</div>
</div>
</div>

<div class="container text-center">
  
    <div class="row" >                      
        <div class="col-md-4">
            <p class="logo"><br><span>Techmax Solutions</span></p>
            <div class=""><img src="../../../assets/images/enquiry.jpg" height="400px" width="600px"/></div>
            <h6 class="mt-3 text-center">Your quotes are ready!</h6>
            <p>No need to answer anymore questions, your refreshed quotes are waiting for you!</p>
        </div>
        <div class="col-md-8">
            <div class="d-flex pt-3 pr-2">
                <p class="ml-auto mb-0">want to speak with an agent?</p>
            </div>	
            <div class="d-flex pr-2">
                <p class="ml-auto"><strong><i class="fas fa-phone-volume"></i>9400374720</strong></p>
            </div>	
             <form #f="ngForm" (ngSubmit)="addData(f)">
                <h4 class="form-heading">Let's get back to your quotes!</h4>
                <p class="form-para">
                    Make sure to use the same information you used during your earlier visit,this is how we keep your information secure.
                </p>
                <div class="form-group">
         
         <label class="form-control-placeholder" for="email">Email address</label>
         <input type="email" class="form-control" name="email" ngModel>
         </div>
                

                 <div class="form-group">
                    <label class="form-control-placeholder" for="name">First name</label>
         <input type="text" class="form-control"  name="name"  ngModel>
        
         </div>

                 <div class="form-group"> 
                    <label class="form-control-placeholder" for="number">Phone no</label>
        <input type="number" class="form-control" name="number"  ngModel>
        
       </div>

                 <div class="form-group"> 
                    <label class="form-control-placeholder" for="number">Course</label>
        <input type="text" class="form-control" name="code"  ngModel>
       
       </div>

                 <div class="form-group mt-3">
        
          <button class="btn btn-default" type="submit" name="button"  (click)="submit()">
            <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Enroll Now
        </button>
        </div>

                 <p class="terms mt-4">By clicking "Return to my quotes", you consent to the Zebra storing the information submitted on this page so you can get most up-to-date quotes, no matter what device you are using. You also agree to The Zebra's <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a></p>
            </form> 
    
   
  <div class="row" >
    
   





    </div>

        </div>
    </div>
</div>
