
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  /* background-image: url("../images/blk.webp"); */
}
.bdy{
  background-color: #171414;
}
.hire{
  background-color: #4070f4;
}
.about-us p{
  color:#f3f0f0 ;

}
.b{
    color: rgb(61, 61, 188);
}
.pic{
  height: 350px;
  width:  502px;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 540px;
}
.text h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
  color:rgb(13, 11, 11)

}
.text h5{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color:rgb(255, 255, 255)
}
span{
  color: #ff0d00;
}
.text p{
  color: #8f8686;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: justify;
}