<br><br><br><div class= "container">
    <br><br>
    
    <div class="about">
      <img src="assets\images\{{single[0].h1img}}" class="pic" width="800px;" >
      <div class="text">
        
        <h2 class="b" style="color: rgb(64, 64, 188);">{{single[0].h1}}</h2>
          <p class="b"> {{single[0].h1p}}</p>
              
      </div>
      
    </div>
   
    </div>
<br><br>
    <div class="c" style="padding-right: 40px; text-align: center;">
        <h3 style="font-weight: bold; color: rgb(11, 11, 14);">{{single[0].content1h}}</h3>
    <hr><br>
    <p style="color: rgb(164, 162, 162);">{{single[0].content1p}}</p>
    <br><br>
    <h3 style="font-weight: bold;">{{single[0].content2h}}</h3><hr><br>
    
    <p style="color: rgb(164, 162, 162);">{{single[0].content2p}}</p> <br><br>
   
    <h3 style="font-weight: bold;">{{single[0].content3h}}</h3><br>
    
    <p style="color: rgb(164, 162, 162);">{{single[0].content3p}}</p> <br><br>
   
    <br><br><br>
    </div>
    
    


   
